* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #515151;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1140px;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------- Header Style -------------------------- */
.header-nav {
  padding-top: 35px;
  padding-bottom: 30px;
  line-height: 32px;
}

/* logo */
.logo {
  float: left;
  margin: 0;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.logo__heading {
  font-size: 30px;
  letter-spacing: -0.6px;
  font-weight: 300;
  text-transform: uppercase;
}

/* -------------------------- Navigation -------------------------- */
.header-nav__menu {
  float: right;
}

.header-nav__menu-link {
  float: left;
  margin-left: 35px;
  text-transform: uppercase;
  font-weight: 900;
  list-style: none;
}

.header-nav__menu-link a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #0f0101;
  transition: all 0.3s;
}

.header-nav__menu-link a:hover {
  color: #1abc9c;
}

/* -------------------------- Content Style -------------------------- */
/*----------------- slider -----------------*/
.slider {
  position: relative;
  height: 600px;
}

/*----- wrapper img = cover -----*/
.img_object-wrapper {
  width: 100%;
  height: 100%;
}

.slider-img {
  object-fit: cover;
}

.slider-img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 2, 0.52);
}

.slider__section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  transition: all 0.3s;
}

/*--------- button style ---------*/
.slider__btn {
  position: relative;
  width: 104px;
  height: 104px;
  border: none;
  background-color: rgba(26, 188, 156, 0.65);
  transition: all 0.4s;
  cursor: pointer;
}

.btn-left::after,
.btn-right::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 38px;
}

.btn-left {
  float: left;
}

.btn-left::after {
  content: "";
  background-image: url(../img/arrow-l.png);
}

.btn-right {
  float: right;
}

.btn-right::after {
  content: "";
  background-image: url(../img/arrow-r.png);
}

.btn-left:hover,
.btn-right:hover {
  background-color: #1abc9c;
  opacity: 1;
}

/*---------- text style ----------*/
.slider__title-block {
  position: absolute;
  width: 757px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-align: center;
}

.slider__title {
  font-size: 60px;
  font-weight: 900;
  line-height: 82px;
  color: #fff;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 54px;
  text-align: left;
  color: #fff;
}

/* -------------------------- New Collection -------------------------- */
.new-collection {
  padding-top: 95px;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.heading-h2 {
  text-align: center;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
}

.heading-h2::after {
  content: "";
  margin: 20px auto 0px;
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
}

.new-collection__heading {
  padding-bottom: 80px;
}

.product-card {
  float: left;
  width: 255px;
  list-style: none;
  overflow: hidden;
}

.product-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.product-card:hover .product-card__line-price {
  background-color: #1abc9c;
}

.product-card__img-link {
  position: relative;
  width: 255px;
  height: 282px;
  display: block;
}

.product-card__img {
  display: block;
}

.product-card__line-price {
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  background-color: #323232;
  transition: all 0.3s;
}

.product-card__name a {
  float: left;
  padding-left: 14px;
  font-size: 18px;
  color: #fff;
}

.product-card__price {
  float: right;
  text-align: center;
  width: 54px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.44);
}

.product-card__overlay {
  position: absolute;
  top: -132px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 235px;
  height: 261px;
  background-color: rgba(0, 0, 2, 0.52);
  transition: all 0.5s;
}

.overlay-btn-rows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 166px;
  height: 107px;
}

.btn {
  float: left;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}

.overlay-btn {
  position: relative;
  margin-right: 8px;
  margin-bottom: 7px;
}

.overlay-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-btn:first-child::after {
  background-image: url(../img/heart.png);
  width: 26px;
  height: 23px;
}

.overlay-btn:nth-child(2)::after {
  background-image: url(../img/random.png);
  width: 26px;
  height: 22px;
}

.overlay-btn:nth-child(3)::after {
  background-image: url(../img/clock.png);
  width: 24px;
  height: 25px;
}

.overlay-btn:last-child {
  margin-right: 0;
}

.overlay-btn-bottom-row {
  float: none;
  position: relative;
  width: 100%;
  padding: 0 17px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: right;
  background: #323232;
}

.overlay-btn-bottom-row::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 28px;
  height: 27px;
  background-image: url(../img/basket.png);
}

.product-card:hover .product-card__overlay {
  top: 50%;
}

/* ------- footer ------- */
.footer {
  background-color: #323232;
}

.footer p {
  padding: 31px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fefefe;
}

.footer span {
  color: #46bfa9;
}
