* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #555252;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1140px;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: -0.96px;
}

.heading-h2::after {
  content: "";
  margin: 20px auto 0px;
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
}

/* -------------------------- Header Style -------------------------- */
.header-nav {
  padding-top: 35px;
  padding-bottom: 98px;
  line-height: 32px;
  letter-spacing: -0.28px;
}

/* logo */
.logo {
  float: left;
}

.logo__heading {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.logo__accent-color {
  font-size: 30px;
  font-weight: 900;
  color: #1abc9c;
}

/* -------------------------- Navigation -------------------------- */
.header-nav__menu {
  float: right;
}

.header-nav__menu-link {
  float: left;
  margin-left: 35px;
  text-transform: uppercase;
  font-weight: 900;
  list-style: none;
}

.header-nav__menu-link a {
  color: #0f0101;
  transition: all 0.3s;
}

.header-nav__menu-link a:hover {
  color: #1abc9c;
}

/* -------------------------- Content Style -------------------------- */
/* -------------------------- Featured Products -------------------------- */
.featured-products {
  padding-bottom: 95px;
}

.featured-products__heading {
  padding-bottom: 92px;
}

.product-card {
  float: left;
  width: 255px;
  margin-bottom: 30px;
  list-style: none;
  background-color: #e9f0fd;
}

.product-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.product-card:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.product-card:hover .product-card__line-price {
  background-color: #1abc9c;
}

.product-card__img-link {
  width: 255px;
  height: 282px;
}

.product-card__img {
  display: block;
}

.product-card__line-price {
  width: 255px;
  height: 40px;
  padding-left: 14px;
  display: block;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #323232;
  transition: all 0.3s;
}

.product-card__name {
  float: left;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.product-card__price {
  float: right;
  text-align: center;
  width: 54px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.44);
}

/* -------------------------- Latest News -------------------------- */
.latest-news {
  padding-bottom: 80px;
}

.latest-news__heading {
  padding-bottom: 80px;
}

.latest-news__heading::after {
  background-color: #4ec6ab;
}

.latest-news__list {
  list-style: none;
}

.latest-news__card {
  float: left;
  width: 346px;
}

.latest-news__card:not(:nth-child(3n)) {
  margin-right: 36px;
}

.latest-news__img {
  display: block;
}

.latest-news__title {
  padding-top: 9px;
  padding-bottom: 26px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.latest-news__title::after {
  content: "";
  margin-top: 9px;
  display: block;
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
}

.latest-news__article {
  line-height: 24px;
}

.latest-news__btn {
  margin-top: 13px;
  width: 159px;
  height: 51px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.32px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #4ec6ab;
}
