@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .top-section {
    background: var(--gradient-overlay), url(../img/bg-top@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
